body{
    position: relative;
    background-color: cornflowerblue;
}
.t2{
    background-image: url(./nature-3082832_640.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    color: aliceblue;
    width: 20%;
    padding: 70px;
    position: absolute;
    top: 200px;
    left: 300px;
    border: 2px solid red;
    box-shadow: 4px 4px 7px #fdfdfd;
    text-align: center;
}