.nahida{
    background-image:url(./photo.jpg) ;
width:21% ;
position:absolute ;
padding: 80px;
top:200px ;
left:300px ;
border:2px solid red ;
background-repeat:no-repeat ;
background-position: left center  ;

box-shadow:4px 4px 7px black ;
color: white;
}
.hr{
    width:50% ;

}


body{
    
position: relative;
background-color: darkgray;
}